.app_item{

    opacity: 1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);

}

.app_item.folded{

}

/* 按钮 */

.elegant_btn{
    max-height: 25px;
    height: 25px;
    border-radius: 5px;

    text-align: center;
    vertical-align: middle;
}

.btn_create_shortcut{
    border: 1px solid #A6A6A6;
}

.btn_create_shortcut span{
    color: #A0A0A0;
}

.btn_open_url{
    background-color: #62CABA;
    border: 1px solid #62CABA;
}

.btn_open_url span{
    color: white;
}
.btn_open_url img{
    height: 10px;
}


/* ======  基础布局  ====== */

#content{
    margin: 0 auto;
    max-width: 500px;
    height: 98vh;
    border: 1px dotted black;

    position: relative;
}

/* 搜索框相关 */
#search{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 90%;

    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    justify-content: space-around;

}

#txt_search_word{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;

}

#txt_search_word:focus{
    border: none;
    border-bottom: 1px solid black;
}

#txt_search_word:focus{
    border-bottom: 1px solid #cecece;
}



/* ===== url_sch元素  ==== */

.url_sch_item{
    width: 80%;
    padding: 5%;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 10px;
}

/*  标题  */

.app_icon{
    height: 50px;
    border-radius: 10px;
    display: inline;
}

.app_title{
    font-weight: bold;

}


.pages_container{
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ===== url_sch页面元素  ==== */
.page_item{
    margin: 10px auto;

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border: 1px solid #ccc;
    border-radius: 5px;

}

.url_content{
    width: 100%;
    vertical-align: middle;
}

.page_title{
    min-width: 500px;
    width: 100%;
}

.url_content td{
    margin: 10px;

}


.page_url{
    display: inline-block;
    min-height: 25px;
    /*min-width: 100px;*/

    width: 200px;

    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    font-size: 12px;
    vertical-align: middle;
}

.page_url::selection{
    background-color: #c0c0c0;
}

.item_btns_container{
    text-align: right;
}

